header {
    background-color: $header_color;
    height: 100px;
    display: flex;
    align-items: center;
    color: greenyellow;
    i {
        font-size: 50px;
    }
}

body {
    background-color: $main_color;
}

#album {
    list-style: none;
    color: white;
    background-color: $header_color;
    margin: 5px;
    img {
        width: 200px;
        height: 200px;
    }
}